@import url("https://fonts.googleapis.com/css?family=Open+Sans|Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");
body {
  font-family: "Open Sans";
  color: white;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
a:link,
a:visited,
a:active {
  color: white;
  text-decoration: none;
  font-size: 22pt;
}
p {
  margin: 0px;
}
img {
  margin: 0px auto 0px auto;
}
div{
  display: flex;
}